<!DOCTYPE html>
  <head>
    <title> My Sinatra App</title>
  </head>
  <body>
    <p>Hi friend!</p>
    <p>Ready for some fun?</p>
    <p>While you were reading this. I have randomly picked a number between 1 &amp; 100.</p>
    <p>Try and guess it:</p>
    <form>
     <input type="text">
     <input type="submit" name="submit">
    </form> 
  </body>
</html>
       