<!DOCTYPE html>
  <head>
    <title> My Sinatra App</title>
    <script></script>
    <link href="../css/number.css" rel="stylesheet" media="screen">
    <script src="../js/number.js"></script>
  </head>
  <body>
    <p>Hi friend!</p>
    <p>Ready for some fun?</p>
    <p>While you were reading this I have randomly picked a number between 1 &amp; 100.</p>
    <p>Try and guess it:</p>
    <form id="guessForm">
     <input id="guess" type="text">
     <input type="submit" value="submit">
    </form>
  </body>
</html>